.container-fluid{
   
    max-width: 850px;
    margin: auto;
}
/* Float four filter_columns side by side */
.filter_column {
    float: left;
    width: 33.33%;
    padding: 10px 10px 10px 10px ;
  }
  
  /* Remove extra left and right margins, due to padding */
  .filter_row {margin: 0 -5px;}
  
  /* Clear floats after the filter_columns */
  .filter_row:after {
    content: "";
    display: table;
    clear: both;
  }
  .project_home{
      text-align: center;
  }
  .filter_all_button{
      display: flex;
      max-width: 1000px;
      margin: auto;
      justify-content: center;
      margin-bottom: 40px;
  }
  
  /* Responsive filter_columns */
  @media screen and (max-width: 600px) {
    .filter_column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

  /* cards css */

  @import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}


.page-.content-filter {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-.content-filter {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-.content-filter {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card-filter {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .card-filter {
    height: 300px;
  }
}
.card-filter:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card-filter:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.card-filter:nth-child(1):before {
  /* background-image: url(https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ); */
  background-color: #1d1d1d;
}
/* .card-filter:nth-child(2):before {
  background-image: url(https://images.unsplash.com/photo-1533903345306-15d1c30952de?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
.card-filter:nth-child(3):before {
  background-image: url(https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
.card-filter:nth-child(4):before {
  background-image: url(https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
} */
.folder{
  position: absolute;
  top: 10px;
  left: 10px;
 
}
.filter-btn{
  padding: 10px 30px;
  margin-right: 30px;
  letter-spacing: 1px;
  justify-content: center;
}
.filter-btn:last-child{
  margin-right: 0;
}
.folder svg {
  color: aqua;
  
  width: 30px;
  height: 30px;
}

.content-filter {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content-filter > * + * {
  margin-top: 1rem;
}

.title-filter {
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1;
}

.copy {
  font-family: monospace;
  font-size: 1rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}
.btn:hover {
  background-color: #0d0d0d;
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card-filter:after {
    transform: translateY(0);
  }

  .content-filter {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content-filter > *:not(.title-filter) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card-filter:hover,
.card-filter:focus-within {
    align-items: center;
  }
  .card-filter:hover:before,
.card-filter:focus-within:before {
    transform: translateY(-4%);
  }
  .card-filter:hover:after,
.card-filter:focus-within:after {
    transform: translateY(-50%);
  }
  .card-filter:hover .content-filter,
.card-filter:focus-within .content-filter {
    transform: translateY(0);
  }
  .card-filter:hover .content-filter > *:not(.title-filter),
.card-filter:focus-within .content-filter > *:not(.title-filter) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card-filter:focus-within:before, .card-filter:focus-within:after,
.card-filter:focus-within .content-filter,
.card-filter:focus-within .content-filter > *:not(.title-filter) {
    transition-duration: 0s;
  }
}
.project_home{
  text-align: center;
    font-size: 30px;
    color: white;
    font-family: 'Font Awesome 5 Free';
    padding-bottom: 3%;
}
.filter-btn {
font-size: 10px;
}

@media (max-width: 475px){
  .filter_all_button  {
     flex-wrap: wrap;
  }
  .filter-btn {
    padding: 5px 15px;
    margin-right: 25px;
 }
 .button-rotating{
  margin: 20px 10px;
 }

}
.filter_all_button .button-rotating span:nth-child(1) {
 animation: none;
}
.filter_all_button .button-rotating span:nth-child(2) {
  top: 25%;
animation: none;

}
.filter_all_button .button-rotating span:nth-child(3) {
  animation: none;
 }
 .filter_all_button .button-rotating span:nth-child(4) {
  bottom: 25%;
animation: none;

}
.view_page_btn{
  display: flex;
  justify-content: center;
  font-size: 10px;
}



