


.columns {
  Width: 100%;
  }
  .column {
    width:100%;
  }
  @media (min-width: 786px) {
    .column {
      width: 50%;
      float:left;
    }
    .columns {
      content: "";
      display: table;
      clear: both;
    }
  }
  .tagcloud{
    width: 100% !important; 
   overflow: hidden;
  }
  span.tagcloud--item{
    font-weight: 100;
    font-size: 18px;
    color: #64ffda;
  }
  .main-division{
   background-color: #121212;
   max-width: 1100px;
   margin :auto;
  }
  
.first-division{
  padding-left: 6%;
  /* padding-right: 6%; */
  padding-top: 7%;
}
.headingskill{
 text-align: center;
}
.sphere-skill{
  padding-top: 4%;
}

.text-skill p{
  color: #bbbbbb;
  margin-bottom: 15px;
  font-size: 17px;
  line-height: 25px;
  font-weight: 100;
  font-family: monospace;
}
/* 
recent -skill */
 ul.skills-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
}

 ul.skills-list li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: monospace;
    font-size: 17px;
    color: #64ffda;
}
 ul.skills-list li::before {
  content: "▹";
  position: absolute;
  left: 0px;
  color: #64ffda;
  font-size: 14px;
  line-height: 12px;
}
h2.skill-heading {
  text-align: center;
  font-size: 30px;
  color: white;
  font-family: 'Font Awesome 5 Free';
}