

 .skills-heading {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
    color: #64ffda;
    text-align: center;
    margin-bottom: 7%;
    text-transform: uppercase;
}
ul.tool_software{
  text-align: center;
}
 .dev-wrapper .dev-item {
    display: inline-block;
    border: 2px solid rgba(57,57,57,.5);
    border-radius: 50%;
    text-align: center;
    margin: 8px 8px 8px 0;
    padding: 0;
    width: 100px;
    height: 100px;
    line-height: 7;
    font-size: 14px;
	color: #bbbbbb;
}
.dev-wrapper {
    max-width: 400px;
    min-height: 450px;
}
 .skills-flex-wrapper .flex-item {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    min-height: 200px;
    background: 0 0;
    padding: 15px;
}
.column-subpage {
	float: left;
	width: 50%;
  }
  
  /* Clear floats after the columns */
  .row-subpage:after {
	content: "";
	display: table;
	clear: both;
  }
  @media screen and (max-width: 769px) {
	.column-subpage {
	  width: 100%;
	}
  .grid-container {
    display: grid;
    grid-template-columns: auto !important;
  
    padding: 10px;
  }
  }
  .main-Skillpage-division{
    max-width: 1000px;
    margin: auto;
    padding: 4%  5% ;
  }
  .tool_software li{
    padding: 10px 10px 10px 10px ;
    color: #bbbbbb;
    text-align: center;
    

  }
  .tool_software li::marker{
 content: '';
    
  }
  .experience{
   background-color: #bbbbbb;
    min-height: 150px;
    padding: 15px 15px 15px 15px;
  }
  .item1 .experience-heading{
    font-size: 20px;
    color: #FD2155;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .item2 .experience-heading{
    font-size: 20px;
    color: orange;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .item1{
    border-top: 2px solid #FD2155;
  }
  .item2{
    border-top: 2px solid orange;
  }
  .experience-heading-title{
    font-size: 15px;
    font-family: monospace;

  }
  .experience-heading-text{
    font-size: 12px;
    font-family: monospace;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-gap: 20px;
  
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgb(48 45 45 / 80%);
    padding: 10px;
    min-height: 150px;
  }
  .item1 , .item2{
    display: flex;
    flex-direction: column;
    color: #bbbbbb;
  }
   .grid-container span{
      padding-top: 10px;
  }
  .headblock_title{
    color: white;
    font-size: 25px;
    text-align: center;
    padding-bottom: 7%;
  }
  .data-skill{
    padding-top: 0 !important;
  }
  .data-skill li{
    color: #bbbbbb !important;
  }
